body {
    text-align: center;
    margin: 0;
    background-color: #010101;
    font-family: 'Varela Round';
    color: #DFDFDF;
}

h1 {
    margin: 10px 0;
    color: #4A72B8;
    font-weight: bold;
    font-size: 2.5rem;
}

p {
}

.fab {
    padding-top: 10px;
    color: #4A72B8;
}

.fab:hover {
    background: -webkit-linear-gradient(#743ad5, #d53a9d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a {
    color: #BCC4D4;
    font-size: 1.2rem;
}

a:hover {
    background: -webkit-linear-gradient(#743ad5, #d53a9d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.3rem;
}

span {
    font-size: 1.5rem;
}

.contacts {
}

#content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
            "education education main main skills skills"
    "education education main main skills skills"
    "education education main main skills skills"
    "additional-info additional-info projects projects projects projects"
             "additional-info additional-info projects projects projects projects";
    grid-gap: 10px;
    max-width: 1200px;
    margin: 2.6%;
}

#content div {
    background-color: #1B1B1B;
    border-radius: 3%;

}

#content div:hover {
    background-color: #1B1B1B;
    border-radius: 3%;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

.border-gradient:hover {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
}

.main-info {
    grid-area: main;
    padding-top: 60px;

}


.icons-div {
    margin: 10px;
}

.education {
    grid-area: education;
}

.skills {
    grid-area: skills;
}

.additional-info {
    grid-area: additional-info;
}

.add-info-text{
    margin: 1%;
}

.projects {
    grid-area: projects;
}

.fab {
    margin: 0 1.5%;
}


@media screen and (max-width: 760px) {
    .main-info {
        padding: 10px;
    }

    #content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-template-areas:
            "main main main main"
    "education education education education"
    "skills skills skills skills"
    "projects projects projects projects"
     "additional-info additional-info additional-info additional-info";
        grid-gap: 10px;
        max-width: 1200px;
        margin: 2.6%;
    }
}


.container {
    margin-left: 3%;
    position: static;
    width: 600px;
    top: 30px;
    left: calc(50% - 300px);
    display: flex;

}

.card {
    display: flex;
    height: 220px;
    width: 250px;
    background-color: #17141d;
    border-radius: 4px;
    box-shadow: 1rem 0 1rem #17141d ;
    /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
}

.card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
}

.title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
}

.bar {
    position: relative;
    top: 60px;
    left: 20px;
    height: 5px;
    width: 80px;
}



.filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, #743ad5 0%, #d53a9d 65%);
    transition: 0.6s ease-out;
}

.card:hover .filledbar {
    width: 120px;
    transition: 0.4s ease-out;
}
