body {
    text-align: center;
    margin: 0;
    background-color: #010101;
    font-family: 'Varela Round', sans-serif;
    color: #DFDFDF;
}

h1 {
    margin: 10px 0;
    color: #4A72B8;
    font-weight: bold;
    font-size: 2.5rem;
}

.disclaimer{
    text-align: right;
    font-size: 0.6rem;
    color: #d53a9d;
}

p {

}

.fab {
    padding-top: 10px;
    color: #4A72B8;
}

.fab:hover {
    background: -webkit-linear-gradient(#743ad5, #d53a9d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.2rem;
}

a {
    color: #BCC4D4;
    font-size: 1.1rem;
    text-decoration: none;
}

a:hover {
    background: -webkit-linear-gradient(#743ad5, #d53a9d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1rem;
}

span {
    font-size: 1.5rem;
}

.contacts {
}

#content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
            "main"
    "education"
    "skills "
            "additional-info"
    "projects";
    grid-gap: 10px;
    max-width: 1200px;
    margin: 2.6%;
}

#content div {
    background-color: #1B1B1B;
    border-radius: 3%;
    padding: 2%;
}

#content div:hover {
    background-color: #1B1B1B;
    border-radius: 3%;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

.border-gradient:hover {
    border: 5px solid;
    border-image-slice: 1;
}


.icons-div {
    margin: 10px;
}

.education {
    grid-area: education;
}

.degree {
    margin: 5%;
    text-align: left;
    padding: 2%;
    border-style: solid;
    border-width: 2px;
    border-image: linear-gradient(to right, #36343D, #4A72B8) 1;
}

.degree h3 {
    margin: 0.2rem;

}

.degree h4 {
    margin: 0.2rem;
    color: #4A72B8;
}

.degree p {
    margin: 0.2rem;
    color: #4A72B8;
}

.skills {
    grid-area: skills;
}

.skills-list p {
    padding: 0%;
}

span {
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
}

.back-end {
    color: #E03DFC;
}

.mobile {
    color: #8133DB;
}

.web {
    color: #2156D9;
}

.others {
    color: #4AC1FF;
}

.additional-info {
    grid-area: additional-info;
    padding: 2%;
}

.additional-info h2 {
    margin: 3px 0;
    color: #4A72B8;
    font-weight: bold;
    font-size: 2rem;
}

.add-info-text {
    margin: 1%;
}

.projects {
    grid-area: projects;
}

.fab {
    margin: 0 1.5%;
}


.main-info {
    grid-area: main;
}

#projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
            "";
    grid-gap: 10px;
    max-width: 1200px;
    margin: 1%;
}

.project-container {
    border: 2px solid;
    border-image-slice: 1;
    border-image: linear-gradient(to right, #36343D, #4A72B8) 1;
}

.projects-button {
    background-color: #d53a9d;
}

.btn-block {
    height: 45px;
}

a .last {
    display: none;
}

a:hover .last {
    display: block;
}

a:hover .first {
    display: none;
}

@media screen and (min-width: 768px) {
    #content {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-template-areas:
            "education education education education main main main main skills skills skills skills"
        "education education education education main main main main skills skills skills skills"
          "education education education education main main main main additional-info additional-info additional-info additional-info"
            "projects projects projects projects projects projects projects projects projects projects projects projects"
            "projects projects projects projects projects projects projects projects projects projects projects projects";
        grid-gap: 10px;
        max-width: 1200px;
        margin: 2.6%;
    }

    #projects {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-template-areas:
            "";
        grid-gap: 10px;
        max-width: 1200px;
        margin: 1%;
    }

    .main-info h1 {
        margin-top: 18%;
    }
}

